body{
    background-color:white;
}
.container{
    background-color: antiquewhite;
    border: 2px solid black;
    width: 270px;
    height: 250px;
}
.container h1 {
    text-align: center;
}
#taskInput{
    margin-left:50px ;
    padding: 10px 20px;
    border-radius: 10px;
}
.container button {
    padding: 5px 8px;
    border-radius: 15px;

    margin-left: 100px;
    margin-top: 6px;
}
